{% extends 'main_app/base.html' %}

{% load static %}

{% block specific_css %}
    <link rel="stylesheet" type="text/css" href="{% static "users/css/login.css" %}">
{% endblock specific_css %}

{% block content %}
    <div class="login-form">
        {% if messages %}
            <div class="row w-100">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} w-100">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <h2 class="text-center">Profile</h2>
            <div class="form-group">
                {{ form.first_name }}
            </div>
            <div class="form-group">
                {{ form.last_name }}
            </div>
            <div class="form-group">
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password }}
                <small>You need to write a password. It can be your current password or a new one.</small>
            </div>
            <div class="form-group">
                {{ form.email }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}