{% extends 'main_app/base.html' %}

{% load static %}

{% block specific_css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
{% endblock specific_css %}

{% block content %}
    <div class="container">
    <div class="row my-5">
    <div class="col">

            <div class="row justify-content-center my-5">
                <h1>Your Feedback</h1>
            </div>


            <div class="row">
                <h3>Feedback Groups</h3>
            </div>
            <div class="row mt-3">
            {% if feedback_groups %}
            <div class="col">
            <table id="feedback_group_table" class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Assignment</th>
                    <th>Done</th>
                    <th>Download</th>
                </tr>
                </thead>
                <tbody>
                {% for group in feedback_groups %}
                    <tr>
                        <td><a>{{ group.date }}</a></td>
                        <td><a href="{% url 'assignment' group.assignment.pk %}">{{ group.assignment }}</a></td>
                        <td><a>{{ group.done }}</a></td>
                        {% if group.done %}
                            <td><a href="{% url 'feedback_group_summary_as_csv'%}?code={{ group.pk }}&name={{ user.first_name }}{{ user.last_name }}">Download CSV</a></td>
                        {% else %}
                            <td><a>Download CSV</a></td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}

            You have not ran any feedback groups

        {% endif %}
        </div>
        </div>
    </div>
{% endblock content %}

{% block specific_js %}
    <script>
        $("#view_feedback_light").css("font-weight", "Bold");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static "courses/js/course_form.js" %}"></script>
{% endblock specific_js %}




