{% extends 'main_app/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col">
            <h1>{{ assignment.title }}</h1>
            <h4>Error while testing submission:</h4>
            <p>{{ error }}</p>
            <a href="{{ assignment.get_absolute_url }}" class="btn btn-primary"> Go Back </a>
        </div>
    </div>
</div>
{% endblock content %}