{% extends 'main_app/base.html' %}

{% load static %}

{% block specific_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="{% static "courses/css/landing_page.css" %}">
{% endblock specific_css %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col">
                {% if user.is_authenticated %}
                    <div class="row justify-content-center my-5">
                        <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
                    </div>
                    <div class="row">
                        <h3>Your Courses</h3>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <table id="courses_table" class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Your Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for course in courses %}
                                    <tr>
                                        <td><a href="{% url 'course' course.pk %}">{{ course.code }}</a></td>
                                        <td><a href="{% url 'course' course.pk %}">{{ course.name }}</a></td>
                                        <td><a href="{% url 'course' course.pk %}">{{ course.role }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div class="row justify-content-center my-5">
                        <h1>You don't have any courses</h1>
                    </div>
                    <div class="row justify-content-center mt-5">
                        <p><a href="{% url 'signup' %}">Sign Up</a> to start joining courses</p>
                    </div>
                    <div class="row justify-content-center mb-5">
                        <p>¿Already have an account? <a href="{% url 'login' %}">Login</a> to explore your courses</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block specific_js %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{% static "courses/js/landing_page.js" %}"></script>
{% endblock specific_js %}